@font-face {
    font-family: 'Xenon';
    src: url('/fonts/xenon2-webfont.eot');
    src: url('/fonts/xenon2-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/xenon2-webfont.woff') format('woff'),
         url('/fonts/xenon2-webfont.ttf') format('truetype'),
         url('/fonts/xenon2-webfont.svg#Xenon2Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    /* 8, 16, 64, 128 */
}
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
  margin: 0;
  background: #262626;
  color: #c0c0c0;
}
a {
  color: #0eaf16;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
small {
  size: 15px;
  color: #666;
}

header {
  position: relative;
  font-family: Xenon;
  background: #fff;
  padding-top: 15px;
  padding-bottom: 50px;
  z-index: 1;
  color: #000;
}
header .ledge,
header .chip {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
header .ledge {
  background-image: url(/images/ledge.png);
  background-position: center bottom;
  background-repeat: repeat-x;
  right: 45%;
}
header .chip {
  background-image: url(/images/chip.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  left: 55%;
}
header .wrapper {
  max-width: 778px;
  margin: 0 auto;
  overflow: hidden;
}
header p {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  line-height: 10px;
}
header .logo {
  float: left;
  margin-top: 35px;
}
#countdown {
  display: block;
  float: right;
  position: relative;
  overflow: hidden;
  color: #bfbfbf;
}
#countdown div {
  float: left;
  max-width: 120px;
  margin-right: 40px;
}
#countdown .secs{
  margin-right: 0;
}
#countdown .value {
  display: block;
  margin-bottom: 7px; /* Should be 10px - logo a little too small */
  padding-left: 4px;
  font-size: 128px;
  line-height: 85px;
  text-align: center;
}
#countdown .label {
  display: block;
  font-size: 64px;
  line-height: 39px;
  text-transform: uppercase;
  text-align: center;
}

footer {
  max-width: 960px;
  margin: 50px auto;
  text-align: center;
}
footer .previous {
   font-family: Xenon;
   line-height: 19px;
   margin-bottom: 75px; 
}
.left-logic {
  display: block;
  margin: 0 auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 227px;
  height: 47px;
  background-image: url(/images/leftlogic.png);
}
.left-logic:hover {
  background-position: bottom;
}

.main {
  background-image: url(/images/grad.png);
  background-repeat: repeat-x;
  padding-top: 85px;
}
.main .wrapper {
  max-width: 960px;
  margin: 0 auto;  
}

.lede {
  margin: 0;
  margin-bottom: 80px;
  font-size: 35px;
  text-align: center;
  text-shadow: 1px 1px 0px #000;
}
.lede strong {
  color: #fff;
}

.date-twitter {
  font-family: Xenon;
  font-size: 128px;
  text-align: center;
  text-shadow: 4px 4px 0px #000;
  margin-top: 80px;
}
.date {
  display: block;
  color: #fff;
  line-height: 89px;
}
.twitter {
  display: block;
  font-size: 64px;
  line-height: 50px;
  margin-top: 30px;
}

.tabbed-area {
  position: relative;
  padding-top: 241px;
}

.tab {
  position: absolute;
  top: 0;
  width: 30%;
  display: block;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center -170px;
  z-index: 10;
}
.tab-sponsor .tab {
  background-image: url(/images/t-sponsor.png);
  right: 0;
}
.tab-talk .tab {
  background-image: url(/images/t-talk.png);
  left: 35%;
}
.tab-register .tab {
  background-image: url(/images/t-register.png);
  left: 0;
}

.tab span {
  font-family: Xenon;
  font-size: 16px;
  text-align: center;
  display: block;
  padding: 15px 10px;
  margin-top: 170px;
  line-height: 20px;
  background-color: #0eaf16;
  border: 2px solid #000;
  color: #87d78b;
}

.tab-sponsor .tab span br {
  display: none;
}

.tab:hover {
  cursor: pointer;
  background-position: center top;
}
.tab:hover span {
  color: #fff;
}

.tab-selected {
 background-position: center top; 
}
.tab-selected:hover {
  cursor: default;
}
.tab-selected span {
  padding-bottom: 17px;
  border-bottom: none;
  background-color: #fff;
  color: #000;
}
.tab-selected:hover span {
  color: #000;
}

.tab-content .wrapper {
  display: none;
  background: #fff;
  border: 2px solid #000;
  color: #000;
  margin-top: -19px;
  padding: 35px 45px;
  font-size: 25px;
}
.submitted .tab-register .wrapper {
  display: block;
}
.tab-content p {
  margin: 0;
}
.tab-content .error {
  margin-top: 30px;
  color: red;
}
.tab-content .wrapper a:hover {
  color: #000;
}

.register-interest {
  position: relative;
  margin: 40px 0;
  border: 2px solid #000;
  box-shadow: 2px 2px 0px #000;
}
.register-interest input {
  margin: 0;
  border: 0;
  padding: 20px 30px;
  padding-right: 117px;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 40px;
}
.register-interest input:focus {
  outline: 0;  
}
.register-interest button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: 0;
  width: 87px;
  height: 100%;
  cursor: pointer;
  background-color: #000;
  background-image: url(/images/submit.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #fff;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.register-interest button:hover {
  background-color: #0EAF16;
}

@media screen and (max-width: 870px) {
  .lede br {
    display: none;
  }
}
@media screen and (max-width: 970px) {
  .lede,
  .tabbed-area {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 790px) {
  header .logo {
    float: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  #countdown {
    float: none;
    margin: 0 auto;
    width: 580px;
  }
  #countdown div {
    margin: 14px;
  }
  #countdown .value {
/*    font-size: 64px;
    line-height: 28px;*/
  }
  #countdown .label {
/*    font-size: 32px;
    line-height: 38px;*/
  }
}

@media screen and (min-width: 580px) and (max-width: 759px) {
  .tab-sponsor .tab span br {
    display: inline;
  }
  .tab-content .wrapper {
    margin-top: 1px;
  }
}

@media screen and (max-width: 580px) {
  header {
    padding-bottom: 34px;
  }
  header .logo {
    float: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  #countdown {
    float: none;
    margin: 0 auto;
    width: 320px;
  }
  #countdown div {
    margin: 6px;
  }
  #countdown .value {
    font-size: 64px;
    line-height: 28px;
  }
  #countdown .label {
    font-size: 32px;
    line-height: 38px;
  }
  .main {
    padding-top: 55px;
  }
  .lede {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .tabbed-area {
    padding-top: 0;
    margin-top: 40px;
  }
  .tab {
    position: static;
    width: 100%;
    display: block;
    background-image: none;
  }
  .tab:hover {
    cursor: default;
  }
  .tab span {
    margin-top: 10px;
  }
  .tab-content .wrapper {
    display: block;
    font-size: 16px;
    padding: 15px;
    margin-top: -2px;
  }
  .register-interest {
    margin: 10px 0;
  }
  .register-interest input {
    padding: 14px 10px;
    padding-right: 67px;
    font-size: 16px;
  }
  .register-interest button {
    width: 57px;
    background-image: url(/images/submit-small.png);
  }
  .date-twitter {
    margin-top: 40px;
    font-size: 64px;
  }
  .date {
    line-height: 41px;
  }
  .twitter {
    font-size: 32px;
    margin-top: 10px;
  }
  footer {
    margin: 25px auto;
  }
  footer .previous {
    margin-bottom: 30px;
  }
}