@font-face {
    font-family: 'Xenon';
    src: url('/fonts/xenon2-webfont.eot');
    src: url('/fonts/xenon2-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/xenon2-webfont.woff') format('woff'),
         url('/fonts/xenon2-webfont.ttf') format('truetype'),
         url('/fonts/xenon2-webfont.svg#Xenon2Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    /* 8, 16, 64, 128 */
}
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
  margin: 0;
  background: #262626;
  color: #c0c0c0;
}
a {
  color: #0eaf16;
  text-decoration: none;
}
a:hover {
  color: #fff;
}

header {
  position: relative;
  font-family: Xenon;
  background: #fff;
  padding-top: 15px;
  padding-bottom: 50px;
  z-index: 1;
  color: #000;
}
header .ledge,
header .chip {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
header .ledge {
  background-image: url(/images/ledge.png);
  background-position: center bottom;
  background-repeat: repeat-x;
  right: 45%;
}
header .chip {
  background-image: url(/images/chip.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  left: 55%;
}
header .wrapper {
  width: 778px;
  margin: 0 auto;
  overflow: hidden;
}
header p {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}
header .logo {
  float: left;
  margin-top: 35px;
}
#countdown {
  display: block;
  float: right;
  position: relative;
  overflow: hidden;
  color: #bfbfbf;
}
#countdown div {
  float: left;
  width: 120px;
  margin-right: 40px;
}
#countdown .secs{
  margin-right: 0;
}
#countdown .value {
  display: block;
  margin-bottom: 7px; /* Should be 10px - logo a little too small */
  padding-left: 4px;
  font-size: 128px;
  text-align: center;
}
#countdown .label {
  display: block;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
}

.date-twitter {
  font-family: Xenon;
  font-size: 128px;
  text-align: center;
  text-shadow: 4px 4px 0px #000;
}
.date {
  color: #fff;
}
.twitter {
  font-size: 64px;
}

footer {
  width: 960px;
  margin: 50px auto;
  text-align: center;
}
footer .previous {
   font-family: Xenon;
   line-height: 19px;
   margin-bottom: 75px; 
}


.main {
  background-image: url(/images/grad.png);
  background-repeat: repeat-x;
  padding-top: 85px;
}
.main .wrapper {
  width: 960px;
  margin: 0 auto;  
}
.lede {
  margin: 0;
  font-size: 35px;
  text-align: center;
  text-shadow: 1px 1px 0px #000;
}
.lede strong {
  color: #fff;
}
.tabs {
  font-family: Xenon;
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.tab {
  width: 33%;
  display: block;
  float: left;
  padding: 20px 0;
  background-color: #0eaf16;
  list-style-type: none;
  color: #87d78b;
}



section {
  background: #fff;
  border: 2px solid #000;
  color: #000;
  padding: 35px 45px;
  font-size: 25px;
}
section p {
  margin: 0;
}