@font-face {
  /* massive props to Patty Poos @patrick_h_lauke for his awesome old school fonts */
  font-family: 'Xenon';
  src: url('/fonts/xenon2-webfont.eot');
  src: url('/fonts/xenon2-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/xenon2-webfont.woff') format('woff'),
       url('/fonts/xenon2-webfont.ttf') format('truetype'),
       url('/fonts/xenon2-webfont.svg#Xenon2Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  /* 8, 16, 64, 128 */
}
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
  margin: 0;
  background-color: #262626;
  background-image: url(/images/bg.png);
  color: #c0c0c0;
}
.ie {
  min-width: 960px;
}
a {
  color: #00af3b;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
small {
  size: 15px;
  color: #666;
}

header {
  position: relative;
  font-family: Xenon;
  background: #fff;
  padding: 25px 0;
  z-index: 1;
  color: #000;
}
header .ponch,
header .chips {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
header .ponch {
  background-image: url(/images/ledge.png);
  background-position: center bottom;
  background-repeat: repeat-x;
  left: 55%;

}
header .chips {
  background-image: url(/images/chip.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  right: 45%;
}
header .wrapper {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

header .logo {
  float: left;
  margin-right: 25px;
}


footer {
  max-width: 960px;
  margin: 50px auto;
  text-align: center;
}
footer .previous {
   font-family: Xenon;
   line-height: 19px;
   margin-bottom: 75px; 
}
footer .date-twitter {
  font-family: Xenon;
  font-size: 128px;
  text-align: center;
  text-shadow: 4px 4px 0px #000;
  margin-top: 80px;
}
footer .date {
  display: block;
  color: #fff;
  line-height: 89px;
}
footer .twitter {
  display: block;
  font-size: 64px;
  line-height: 50px;
  margin-top: 30px;
}
footer .left-logic {
  display: block;
  margin: 0 auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 227px;
  height: 47px;
  background-image: url(/images/leftlogic.png);
}
footer .left-logic:hover {
  background-position: bottom;
}

.main {
  background-image: url(/images/grad.png);
  background-repeat: repeat-x;
  padding-top: 85px;
}
.main .wrapper {
  max-width: 960px;
  margin: 0 auto;  
}

.lede {
  margin: 0;
  margin-bottom: 80px;
  font-size: 35px;
  text-align: center;
  text-shadow: 1px 1px 0px #000;
}
.lede strong {
  color: #fff;
}
h2 {
  font-family: Xenon;
  font-size: 65px;
  line-height: 42px;
  text-align: center;
  color: #fff;
  border-bottom: 10px solid #fff;
}



.speaker {
  width: 25%;
}
.speaker h3 {
  font-family: Xenon;
  font-size: 16px;
  text-align: center;
  text-shadow: 4px 4px 0px #000;
}
.speaker h3 a {
  display: block;
  margin-top: 10px;
  font-size: 32px;
}
.speaker img {
  width: 100%;

  border: 2px solid #000;

  -webkit-box-shadow: 2px 2px 0px #000;
  -moz-box-shadow: 2px 2px 0px #000;
  -o-box-shadow: 2px 2px 0px #000;
  -ms-box-shadow: 2px 2px 0px #000;
  box-shadow: 2px 2px 0px #000;
}


#map {
  background: #333;
  max-width: 960px;
  height: 520px;
  border: 2px solid #fff;
}

@media screen and (max-width: 870px) {
  .lede br {
    display: none;
  }
}
@media screen and (max-width: 970px) {
  .lede,
  .tabs {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.ie .lede,
.ie .tabs {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 790px) {
  header .logo {
    float: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 580px) {
  body {
    font-weight: 200;
  }
  header {
    padding-bottom: 34px;
  }
  header .logo {
    float: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .main {
    padding-top: 55px;
  }
  .lede {
    font-size: 20px;
    margin-bottom: 10px;
  }
  footer {
    margin: 25px auto;
  }
  footer .previous {
    margin-bottom: 30px;
  }
  footer .date-twitter {
    margin-top: 40px;
    font-size: 64px;
  }
  footer .date {
    line-height: 41px;
  }
  footer .twitter {
    font-size: 32px;
    margin-top: 10px;
  }
}