{{#locations}}
  <li class="venue {{type}}-venue" data-latlng="{{lat}},{{lng}}">
    <span class="address">{{address}}</span>
    
    {{#url}}<a class="name" href="{{url}}"><span class="bullet">{{number}}.</span>{{name}}</a>{{/url}}
    
    {{^url}}<span class="name"><span class="bullet">{{number}}.</span>{{name}}</span>{{/url}}
    
    <div class="details">
      {{{details_md}}}
    </div>
  </li>
{{/locations}}