{{#speakers}}
<section class="speaker">
  <h3>{{name}} <a href="https://twitter.com/{{twitter-handle}}" class="twitter">@{{twitter-handle}}</a></h3>
  <div class="details">
    <img title="{{image-credit}}" src="/images/speakers/{{image}}">
    <div class="blurb">
      {{{blurb_md}}
    </div>
  </div>
</section>
{{/speakers}}