<IfModule mod_rewrite.c>
# $Id: .htaccess,v 1.3 2006/11/09 09:08:14 remy Exp $
Options +FollowSymLinks +ExecCGI
RewriteEngine On
RewriteBase /

# RewriteCond "%{REQUEST_FILENAME}.php" -f
# RewriteRule ^(.*)$ /$1.php [L]
# 
# RewriteCond "%{REQUEST_FILENAME}.html" -f
# RewriteRule ^(.*)$ /$1.html [L]


# if the file or directory don't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^workshop/(.*)$ /pullouts/pullout.php?type=workshop&id=$1 [QSA,L]
RewriteRule ^speaker/(.*)$ /pullouts/pullout.php?type=speaker&id=$1 [QSA,L]
RewriteRule ^tickets$ /pullouts/tickets.php [QSA,L]


</IfModule>