@font-face {
  /* massive props to Patty Poos @patrick_h_lauke for his awesome old school fonts */
  font-family: 'Xenon';
  src: url('/fonts/xenon2-webfont.eot');
  src: url('/fonts/xenon2-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/xenon2-webfont.woff') format('woff'),
       url('/fonts/xenon2-webfont.ttf') format('truetype'),
       url('/fonts/xenon2-webfont.svg#Xenon2Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  /* 8, 16, 64, 128 */
}
html {
  width: 320px;
  margin: 0 auto;
}
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
  margin: 0;
  background-color: #262626;
  background-image: url(/images/bg-alt.png);
  color: #fff;

  /* outline: 1px solid #333; */
}
.ie {
  min-width: 960px;
}
a {
  color: #0eaf16;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #fff;
}
small {
  size: 15px;
  color: #666;
}
hr {
  clear: both;
  margin: 60px 0 30px 0;
  border-top: 2px solid #fff;
}

header {
  position: relative;
  font-family: Xenon;
  background: #fff;
  padding: 34px 0;
  z-index: 1;
  color: #000;
}
header .ponch,
header .chips {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
header .ponch {
  background-image: url(/images/ledge.png);
  background-position: right bottom;
  background-repeat: repeat-x;
  right: 10%;

}
header .chips {
  background-image: url(/images/chip.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  left: 90%;
}
header .wrapper {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

header .logo {
  clear: both;
  display: block;
  margin: 0 auto;
}

header time,
header h1 {
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: block;
  text-align: center;
  list-style-type: none;
  font-size: 32px;
  line-height: 22px;
  margin-bottom: 34px;
/*  float: left;
  min-width: 160px;
  max-width: 280px;*/
}
nav a:hover,
nav a:focus {
  color: #000;
}

.button {
  display: block;
  padding: 12px 18px;
  border: 2px solid #000;
  background-color: #0eaf16;
  color: #fff;
  font-family: Xenon;
  font-size: 16px;
  text-align: left;
  text-shadow: 1px 1px 0px #000;

  -webkit-box-shadow: 4px 6px 0px #000;
  -moz-box-shadow: 4px 6px 0px #000;
  -o-box-shadow: 4px 6px 0px #000;
  -ms-box-shadow: 4px 6px 0px #000;
  box-shadow: 4px 6px 0px #000;
}
.button:hover,
.button:focus {
  background-color: #000;
  border: 2px solid #fff;
}
.button-white {
  background: #fff;
  color: #000;
}

.buy-tickets {
  margin: 34px;
  font-size: 36px;
  text-align: center;
  text-shadow: 2px 2px 0px #000;
}

footer {
  max-width: 960px;
  margin: 60px auto;
  text-align: center;
  clear: both;
}
footer .previous {
   font-family: Xenon;
   line-height: 19px; 
   margin-bottom: 30px;
}
footer .date-twitter {
  font-family: Xenon;
  font-size: 64px;
  text-align: center;
  text-shadow: 4px 4px 0px #000;
  margin-top: 40px;  
}
footer .date {
  display: block;
  color: #fff;
  line-height: 41px;
}
footer .date span {
  color: #c0c0c0;
}
footer .twitter {
  display: block;
  font-size: 32px;
  line-height: 50px;
  margin-top: 10px;
}
footer .left-logic {
  display: block;
  margin: 0 auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 227px;
  height: 47px;
  background-image: url(/images/leftlogic.png);
}
footer .left-logic:hover,
footer .left-logic:focus,
footer .left-logic:active {
  background-position: bottom;
}

.main {
  background-image: url(/images/grad.png);
  background-repeat: repeat-x;
  padding: 0 20px;
  padding-top: 45px;
}
.main .wrapper {
  max-width: 960px;
  margin: 0 auto;  
}

.lede {
  margin: 0;
  margin-bottom: 60px;
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px 0px #000;
  color: #c0c0c0;
}
.lede strong {
  color: #fff;
}

article {
  padding-top: 30px;
}
h2 {
  margin: 0;
  margin-bottom: 60px;
  font-family: Xenon;
  font-size: 64px;
  line-height: 42px;
  text-align: center;
  color: #fff;

  /* heading aligment tweaks */
  position: relative;
  left: 4px;
}
#locations h2,
#workshops h2 {
  left: -4px;
}

/* Schedule */
.schedule {
  margin: 0;
  padding: 0;
}
.schedule li {
  list-style-type: none;
  margin-bottom: 30px;
  font-family: Xenon;
  font-size: 32px;
  text-align: center;
}
.schedule time {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}


/* Speaker / Workshop */
.speaker,
.workshop,
.fringe {
  margin-bottom: 30px;
}
.speaker h3,
.workshop h3,
.fringe h3 {
  font-family: Xenon;
  font-size: 16px;
  text-align: center;
}
.speaker h3 a,
.workshop h3 a,
.fringe h3 a {
  display: block;
  margin-top: 10px;
  font-size: 32px;
}
.workshop h3 a,
.fringe h3 a {
  line-height: 30px;
}
.speaker img {
  display: none;

  /*
  width: 100%;

  border: 2px solid #000;

  -webkit-box-shadow: 2px 2px 0px #000;
  -moz-box-shadow: 2px 2px 0px #000;
  -o-box-shadow: 2px 2px 0px #000;
  -ms-box-shadow: 2px 2px 0px #000;
  box-shadow: 2px 2px 0px #000;
  */
}
.workshop p,
.fringe p {
  margin: 20px 0;
  font-size: 15px;
  color: #c0c0c0;
  font-weight: normal;
  text-align: center;
}

/* Locations */
.locations h3 {
  font-size: 32px;
  font-weight: 100;
  color: #c0c0c0;
  text-align: center;
}
.locations ul {
  margin: 0;
  padding: 0;
}
.venue {
  list-style-type: none;
  margin-bottom: 30px;
  font-family: Xenon;
  font-size: 32px;
  text-align: center;
}
.venue span {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}
.venue a {
  line-height: 30px;
}

#map {
  display: none;
  /*
  background: #333;
  max-width: 960px;
  height: 520px;
  border: 2px solid #fff;
  */
}

/* Sponsors */
.sponsor {
  display: block;
  margin: 20px 0;
  background-color: #fff;
  text-align: center;
  padding: 25px;

/*  max-width: 280px;
  float: left;
  box-sizing: border-box;*/
}
.sponsor img {
/*  width: 100%;*/
}

/** Pullout **/
body.pullout {
  background-image: none;
  background-color: #fff;
}
#pullout {
  padding: 20px;
  background: #fff;
  color: #606060;
}
#pullout .pullout-controls:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#pullout h1 {
  clear: both;
  margin: 30px 0;
  font-family: Xenon;
  font-size: 32px;
  line-height: 32px;
  color: #000;
}
#pullout hr {
  border: none;
  border-top: 2px solid #e5e5e5;
  margin: 30px 0;
}
#pullout img {
  width: 100%;
}
#pullout h2 {
  margin: 40px 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 32px;
  text-align: left;
  color: #000;
}
#pullout h3,
#pullout p {
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
}
#pullout h3 {
  color: #000;
  font-weight: bold;
}
#pullout section {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 5px;
}
#pullout section h2 {
  margin: 10px 0 30px 0;
  text-align: center;
}
#pullout ul {
  margin: 0;
  padding: 0;
}
#pullout li {
  list-style-type: none;
  text-align: center;
  margin-bottom: 30px;
  line-height: 20px;
}
#pullout a {
  font-weight: bold;
}
#pullout a:hover,
#pullout a:focus {
  color: #000;
}

/** Pullout Buttons **/
#pullout .button {
  display: inline-block;
  margin: 10px 0;
  background-repeat: no-repeat;
  background-position: 10px 50%;
}
#pullout .button:hover,
#pullout .button:focus {
  color: #fff;
}
#pullout .pullout-close {
 float: left;
 padding-left: 40px;
 background-image: url('/images/close.gif'); 
}
#pullout .pullout-prev-next {
  margin: 10px 0;
  float: right;

  -webkit-box-shadow: 4px 6px 0px #000;
  -moz-box-shadow: 4px 6px 0px #000;
  -o-box-shadow: 4px 6px 0px #000;
  -ms-box-shadow: 4px 6px 0px #000;
  box-shadow: 4px 6px 0px #000;
}
#pullout .pullout-prev,
#pullout .pullout-next {
  margin: 0;
  background-position: 50%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  text-indent: -150%;
  overflow: hidden;
  float: left;
}
#pullout .pullout-prev {
  background-image: url('/images/prev.gif');
}
#pullout .pullout-next {
  background-image: url('/images/next.gif');
}
#pullout .pullout-prev:hover,
#pullout .pullout-prev:focus {  
  background-image: url('/images/prev-alt.gif');
}
#pullout .pullout-next:hover,
#pullout .pullout-next:focus {
  background-image: url('/images/next-alt.gif');
}
#pullout .talk-listen,
#pullout .talk-download {
  padding-left: 40px;
  line-height: 16px;
}
#pullout .talk-listen {
  background-image: url('/images/listen.gif');
}
#pullout .talk-download {
  background-image: url('/images/download.gif');
}
#pullout .talk-listen:hover,
#pullout .talk-listen:focus {
  background-image: url('/images/listen-alt.gif');
}
#pullout .talk-download:hover,
#pullout .talk-download:focus {
  background-image: url('/images/download-alt.gif');
}