body {
  min-width: 960px;
  margin: 0 auto;
  background-image: url(/images/bg.png);
}
.yeahpointlessiknow {
  display: block;
}
footer .date {
  font-size: 128px;
  line-height: 80px;
}
footer .date-twitter a {
  font-size: 64px;
}
.wrapper > hr {
  display: none;
}
.wrapper > article > h2 {
  margin: 60px 50px 60px 40px;
  font-size: 64px;
  line-height: 0;
  position: relative;
  border-top: 10px solid #fff;
}
.wrapper > article > h2 span {
  z-index: 2;
  color: #fff;
  background: url(/images/bg-heading.png) repeat-x 0 0;
  padding: 0 50px 0 60px;
}
.wrapper > article > h2 span:before,
.wrapper > article > h2 span:after {
  content: " ";
  position: absolute;
  z-index: 1;
  display: block;
  background: url(/images/head-box.png) no-repeat center;
  top: 0;
  left: 0;
  margin: -20px 0 0 0;
  width: 30px;
  height: 30px;
  margin-left: -30px;
}
.wrapper > article > h2 span:after {
  left: auto;
  right: 0;
  margin-left: 0;
  margin-right: -30px;
}
.lede {
  font-size: 32px;
  line-height: 40px;
}
.lede .superflous-br {
  display: inline;
}
.schedule {
  float: left;
  width: 25%;
  box-sizing: border-box;
}
.schedule .schedule-heading {
  display: list-item;
}
.schedule .schedule-heading h3 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 100;
}
.schedule .current {
  width: auto;
  margin: 0;
  margin-bottom: 30px;
}
.speaker,
.workshop {
  float: left;
  width: 50%; 
  box-sizing: border-box;
}
.speaker .details,
.workshop .details {
  position: relative;
  display: block;
}
.speaker img,
.workshop .details img {
  -ms-interpolation-mode:nearest-neighbor;
  display: block;
  width: 100%;
  border: 2px solid #000 !important;
  box-sizing: border-box;
}
.speaker .blurb,
.workshop .blurb,
.workshop .sold-out {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  background-color: rgba(0, 0, 0, 0.8);
}
.speaker .details:hover .blurb,
.workshop .details:hover .blurb,
.workshop .sold-out {
  display: block;
}
.speaker .details .blurb p,
.workshop .details .blurb p {
  padding: 20px;
  text-align: center;
}
.workshop h3 {
  white-space: nowrap;
}
.workshop .sold-out {
  background-color: transparent;
}
.sold-out .button {
  display: inline-block;
  background-color: #c00;
  font-size: 32px;
}
.workshop .details:hover .sold-out .button {
  background-color: #000;
}
.locations {
  float: left;
  width: 33.3333%;
  box-sizing: border-box;
}
.wrapper > article > .locations {
  padding-left: 50px;
  padding-right: 50px;
}
.venue .bullet {
  color: #606060;
}
.venue.selected .bullet {
  color: #fff;
}
.venue .details {
  display: block;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #c0c0c0;
}
.venue .details p:first-of-type {
  margin-top: 5px;
}
#map {
  display: block;
  float: left;
  width: 33.333%;
  box-sizing: border-box;
  background: #333;
  height: 1240px;
  border: 2px solid #fff;
}
#sponsors h3 {
  display: block;
  font-size: 32px;
  text-align: center;
  font-weight: 100;
  color: #c0c0c0;
  margin-bottom: 60px;
  clear: both;
}
.sponsor {
  float: left;
  width: 22%;
  margin: 0 1.5% 60px 1.5%; 
  box-sizing: border-box;
}
.full-monty {
  float: left;
  width: 47%;
  margin: 0 1.5% 0px 1.5%;
  background-color: #fff;
  color: #303030;
  font-weight: normal;
  box-sizing: border-box;
}
.wrapper > article > .full-monty {
  padding: 40px;
}
.full-monty .sponsor {
  float: none;
  width: 100%;
  max-width: 360px;
  display: block;
  margin: 0 auto;
}
.full-monty .sponsor img {
  width: 100%;
}
.full-monty .blurb {
  display: block;
  padding-bottom: 16px;
}
.full-monty-wrapper {
  overflow: hidden;
  margin-bottom: 60px;
}
.full-monty {
  padding-bottom: 999999px !important;
  margin-bottom: -999999px !important;
}
#pullout { 
  width: 80%;
  max-width: 780px;
  z-index: 100;
  overflow: visible;
  padding: 40px;
}
#pullout.is-workshop{ 
  max-width: 1080px;
}
#pullout h1 {
  font-size: 64px;
  line-height: 43px;
  float: left;
  margin: 10px 0 20px 0;
}
#pullout h2 {
  margin-bottom: 30px;
}
#pullout hr {
  margin-top: 15px;
  margin-bottom: -10px;
  clear: both;
}
#pullout .speaker-image {
  max-width: 250px;
  max-height: 194px;
  float: right;
  margin-bottom: 30px;
  margin-left: 30px;
}
#pullout .buy-box {
  overflow: hidden;
  width: 520px;
  float: right;
}
#pullout .buy-box .text {
  float: left;
  text-align: right;
  width: 280px;
  padding-top: 0;
}
#pullout.is-workshop .ticket .buy-box .text {
  padding-top: 0;
}
#pullout .buy-box h4, #pullout .buy-box p {
  margin: 0;
}
#pullout .buy-box p {
  margin-top: -4px;
}
#pullout .buy-box h4 {
  font-size: 32px;
}
#pullout .buy-box h4 span {
  font-size: 15px;
  text-transform: uppercase;
}
#pullout .buy-box .button {
  font-size: 32px;
  font-weight: normal;
  float: right;
  margin-top: 0;
}
#pullout .pullout-close {
  position: absolute;
  right: -24px;
  top: -32px;
  width: 40px;
  height: 40px;
  display: block;
  padding: 0;
  background-position: center;
}
.pullout #pullout .pullout-close {
  top: 0;
  right: 0;
}
#pullout .pullout-close span {
  display: none;
}
#pullout .pullout-prev-next {
  display: none;
}
#pullout.is-workshop
#pullout .talk-download {
  margin-left: 20px;
}
#pullout .ticket {
  float: left;
  width: 47%;
  margin-right: 3%;
  box-sizing: border-box;
}
 #pullout.is-workshop .ticket {
  background: none;
  float: none;
  width: auto;
  margin-right: 0;
}
#pullout.is-workshop .ticket .buy-box {
  width: 520px;
  float: right;
}
#pullout.is-workshop .ticket .buy-box .text {
  width: 280px;
  float: left;
  text-align: right;
}
.is-workshop hr {
  display: block;
}
.lede .extra-br {
  display: none;
}
header nav li.tickets {
  display: none;
}
.lede .superflous-br {
  display: inline;
}
.lede br { 
  display: inline; 
}
#show-menu {
  display: none;
}
header .logo {
  float: left;
  margin-left: 33px;
  margin-right: 33px;
}
header h1 {
  display: none;
}
header .wrapper {
  margin-bottom: 0;
}
nav {
  position: absolute;
  width: 400px;
  right: 200px;
  bottom: auto;
}
nav li {
  float: left;
  width: 200px;
  text-align: left;
}
.buy-tickets {
  float: right;
  margin-top: 0;
  padding-top: 18px;
  padding-bottom: 18px;
}
header .buy-tickets {
  font-size: 40px;
  line-height: 40px;
}
.buy {
  display: block;
}
.price {
  display: block;
  margin-top: 20px;
  font-size: 64px;
}
.lede .superflous-br {
  display: none;
}
.sponsor img {
  max-width: 100%;
}
.sponsor.half {
  box-sizing: border-box; 
  width: 30%;
}
header .wrapper {
  margin-bottom: 20px;
}
header .logo {
  float: left;
  margin-left: 33px;
  margin-right: 33px;
}
header h1 {
  float: left;
  display: block;
  margin: 0;
  color: #bfbfbf;
  font-weight: normal;
  font-size: 64px;
  line-height: 82px;
}
header time {
  display: block;
  font-size: 128px;
}
header h1 span {
  display: block;
  width: 507px;
  margin-top: 8px;
  letter-spacing: -3px;
  text-align: justify;
  line-height: 40px;
}
nav {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -53px;
}
nav li {
  float: left;
  width: 20%;
  text-align: center;
}
.speaker,
.workshop {
  float: left;
  width: 33.3333%;
  box-sizing: border-box;
}
#locations span.bullet {
  display: inline;
}
.workshop > h3,
.workshop > div {
  width: 100%;
}
#pullout .left {
  width: 48%;
  float: left;
}
#pullout .right {
  width: 48%;
  float: right;
  overflow: hidden;
  background: #f2f2f2;
  margin-top: 47px;
}
#pullout .right section {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
#pullout .right section:first-child {
  border-right: 2px solid #fff;
} 