    <section class="ticket">
      <h2>{{title}}</h2>

      <div class="buy-box">
        <div class="text">
          <h4>{{details.price}}<span>+vat</span></h4>
          {{{note_md}}}
        </div>
      </div>

      {{#sold-out}}<div class="button sold-out">Sold Out</div>{{/sold-out}}
      {{^sold-out}}<a href="{{buylink}}" class="button buy-button">Buy Tickets</a>{{/sold-out}}

      <p class="more">{{#url-slug}}<a class="pullout" href="/workshop/{{url-slug}}#{{url-slug}}">More information</a>{{/url-slug}}&nbsp;</p>
    </section>
