<article id="pullout">

  <div class="pullout-controls">
    <a class="button pullout-close" href="#">Close</a>

    <div class="pullout-prev-next">
      <a class="button button-white pullout-prev" href="#">Previous</a>
      <a class="button button-white pullout-next" href="#">Next</a>
    </div>
  </div>
  
  <h1>{{full-name}}</h1>

  {{#image}}
    <img src="/images/{{image}}">
  {{/image}}

  <hr>

  <h2>{{talk-title}}</h2>

  {{{talk-description}}}

  <h3>Who is this workshop for?</h3>

  {{{talk-audience}}}

  <section>
    <h2>You’ll Learn</h2>
    <ul>
      {{#learn}}
      <li>
        <strong>{{topic}}</strong><br>
        {{desc}}
      </li>
      {{/learn}}
    </ul>
  </section>

  <section>
    <h2>Details</h2>
    <ul>
      {{#details}}
      <li>
        <strong>Date</strong><br>
        {{date}}
      </li>
      <li>
        <strong>Time</strong><br>
        {{time}}
      </li>
      <li>
        <strong>Teacher</strong><br>
        <a href="{{teacher-url}}">{{teacher}}</a>
      </li>
      <li>
        <strong>Venue</strong><br>
        <a href="{{venue-url}}">{{venue}}</a>
      </li>
      {{/details}}
    </ul>
  </section>

  {{#talk-audio-url}}
    <a class="button talk-listen" href="{{talk-audio-url}}">Listen to {{short-name}}'s session</a>
  {{/talk-audio-url}}

  {{#talk-slides-url}}
    <a class="button talk-download" href="{{talk-slides-url}}">Download {{short-name}}'s slides</a>
  {{/talk-slides-url}}

</article>