<article id="pullout" {{#learn}}class="has-workshop"{{/learn}}>

  <div class="pullout-controls">
    <a class="button pullout-close" href="/#?"><span>Close</span></a>

    <div class="pullout-prev-next">
      {{#prev}}<a class="button button-white pullout-prev" href="/speaker/{{prev}}#{{prev}}"><span>Previous</span></a>{{/prev}}
      {{#next}}<a class="button button-white pullout-next" href="/speaker/{{next}}#{{next}}"><span>Next</span></a>{{/next}}
    </div>
  </div>
  
  <h1>{{name}} <a href="https://twitter.com/{{twitter-handle}}" class="twitter">{{twitter-handle}}</a></h1>

  <hr>

  <h2>{{title}}</h2>

  {{#image}}
    <img class="speaker-image" title="{{image-credit}}" src="/images/speakers/{{image}}">
  {{/image}}

  {{{description_md}}}

  <div class="talk-buttons">
  {{#audio-url}}
    <a class="button talk-listen" href="{{talk-audio-url}}">Listen to {{short-name}}'s session</a>
  {{/audio-url}}

  {{#slides-url}}
    <a class="button talk-download" href="{{talk-slides-url}}">Download {{short-name}}'s slides</a>
  {{/slides-url}}
  </div>

</article>