    <section class="ticket">
      <h2>{{talk-title}}</h2>

      <div class="buy-box">
        <div class="text">
          <h4>{{details.price}}<span>+vat</span></h4>
          {{{note_md}}}
        </div>
      </div>

      {{#sold-out}}<div class="button sold-out">Sold Out</div>{{/sold-out}}
      {{^sold-out}}<a href="{{buylink}}" class="button buy-button">Buy Tickets</a>{{/sold-out}}

      {{#url-slug}}<p class="more"><a class="pullout" href="/workshop/{{url-slug}}#{{url-slug}}">More information</a></p>{{/url-slug}}
    </section>
