<article id="pullout" {{#learn}}class="is-workshop"{{/learn}}>

  <div class="pullout-controls">
    <a class="button pullout-close" href="/#?"><span>Close</span></a>

    <div class="pullout-prev-next">
      {{#prev}}<a class="button button-white pullout-prev" href="/workshop/{{prev}}#{{prev}}"><span>Previous</span></a>{{/prev}}
      {{#next}}<a class="button button-white pullout-next" href="/workshop/{{next}}#{{next}}"><span>Next</span></a>{{/next}}
    </div>
  </div>
  
  <h1>{{name}}</h1>



  {{#details}}
  <section class="ticket">
    <div class="buy-box">
      <div class="text">
        <h4>{{price}}{{#vat}}<span>+vat</span>{{/vat}}</h4>
        {{{note_md}}}
      </div>

      {{#sold-out}}<div class="button sold-out">Sold Out</div>{{/sold-out}}
      {{^sold-out}}<a href="{{buylink}}" class="button buy-button">Buy Tickets</a>{{/sold-out}}
      <div style="clear: both;"></div>
    </div>
  </section>
  {{/details}}
  <div style="clear: both;"></div>

  <hr>

  <div class="left">
    <h2>{{title}}</h2>

    {{#image}}
      <img class="speaker-image" src="/images/{{image}}" title="{{image-credit">
    {{/image}}

    {{{description_md}}}

    <h3>Who is this workshop for?</h3>

    {{{audience_md}}}
  </div>

  <div class="right">
    <section>
      <h2>You’ll Learn</h2>
      <ul>
        {{#learn}}
        <li>
          <strong>{{topic}}</strong><br>
          {{desc}}
        </li>
        {{/learn}}
      </ul>
    </section>

    <section>
      <h2>Details</h2>
      <ul>
        {{#details}}
        <li>
          <strong>Date</strong><br>
          {{date}}
        </li>
        <li>
          <strong>Time</strong><br>
          {{time}}
        </li>
        <li>
          <strong>Teacher</strong><br>
          <a href="{{teacher-url}}">{{teacher}}</a>
        </li>
        <li>
          <strong>Venue</strong><br>
          <a href="{{venue-url}}">{{venue}}</a>
        </li>
        {{/details}}
      </ul>
    </section>
  </div>

  <div style="clear: both;"></div>

</article>